<a href="https://colab.research.google.com/github/sliem77/DSC540-Project/blob/main/PyBank/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import pandas as pd
#Importing the pandas package for data analysis.

In [85]:
df = pd.read_csv("budget_data.csv")
df.head()
#This is to put the csv information into a dataframe. I then checked the first 5 rows using the head()
#function to check if it's correct.

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [86]:
months = len(df["Date"])
#The number of months is taken from this code.

In [87]:
total = sum(df["Profit/Losses"])
total
#This is to calculate the total amount of money throughout the entire period.

22564198

In [88]:
df["Changes"] = df["Profit/Losses"].shift(1) - df["Profit/Losses"]
#This code creates a new column called "Changes" which has values of the change for each month.

df["Changes"] = df["Changes"].fillna(0)
#This code replaces any NA values with 0.

df["Changes"] = df["Changes"].astype(int)
#This code changes the "Changes" column from a float to an integer.

df["Changes"] = df["Changes"] * -1
#This code multiplies each value by -1 to restore its original sign.

In [89]:
max_prof = max(df["Changes"])
min_prof = min(df["Changes"])
#The min and max variables contain the maximum and minimum change values.

q_max = df.loc[df["Changes"] == max_prof, "Date"].iloc[0]
q_min = df.loc[df["Changes"] == min_prof, "Date"].iloc[0]
#The q min and max search for the date that is related to the maximum and minimum change values that were
#made above.

avg_change = round(sum(df["Changes"])/(len(df) - 1), 2)
#This average change between all values.

In [90]:
output = open('output.txt', 'a')

with open("output.txt", "a") as output:
  print("Financial Analysis", file = output)
  print("----------------------------", file = output)
  print("Total Months: " + str(months), file = output)
  print("Total: $" + str(total), file = output)
  print("Average Change: $" + str(avg_change), file = output)
  print("Greatest Increase in Profits: " + str(q_max) + " ($" + str(max_prof) + ")", file = output)
  print("Greatest Decrease in Profits: " + str(q_min) + " ($" + str(min_prof) + ")", file = output)

output.close()

#This whole part is to essentially put all these print statements into one file, which is called "output.txt"